.formarea{
    WIDTH: 326px;
    HEIGHT: 80px;
    background-color:#000000;
    font-size:40px;
    color:#ffffff
}
.button{
    WIDTH: 80px;
    HEIGHT: 80px;
}
.button0{
    WIDTH: 164px;
    HEIGHT: 80px;
}
.number{
    background-color:#ffffff;
    font-size: 20px;
    color:#000000;
}
.operator{
    background-color:#ffbf00;
    font-size: 20px;
    color:#ffffff;
}
.others{
    background-color: #888888;
    font-size: 20px;
    color:#000000;
}
